.burger {
    &__line {
        width: 42px;
        height: 2px;
        background-color: #000;
        position: absolute;
        right: 0;

        &--first {
            top: 45px;
        }

        &--second, &--third {
            top: 27px;
        }

        &--fourth {
            top: 36px;
        }
    }

    &__label {
        position: absolute;
        right: 1px;
        z-index: 1;
        opacity: 0;
    } 
}

#bur:checked ~ .menu__nav {
       font-size: 12px;
       max-height: 500px;
      
    }